<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BookRecs</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="./assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="./assets/css/Card-slider-sk.css">
    <link rel="stylesheet" href="./assets/css/Media-Slider-Bootstrap-3-1.css">
    <link rel="stylesheet" href="./assets/css/Media-Slider-Bootstrap-3.css">
    <link rel="stylesheet" href="./assets/css/MUSA_carousel-product-cart-slider-1.css">
    <link rel="stylesheet" href="./assets/css/MUSA_carousel-product-cart-slider.css">
    <link rel="stylesheet" href="./assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="./assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>

<body>
    <!-- Start: Navigation with Search -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Company Name</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/browseView">Browse</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/library">Library</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search" placeholder="Type to search"></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Action </a></div>
        </div>
    </nav>
    <!-- End: Navigation with Search -->
    <div>
        <!-- Start: Search Input (responsive) -->
        <div class="float-left float-md-right mt-5 mt-md-0 search-area"><i class="fas fa-search float-left search-icon"></i><input class="float-left float-sm-right custom-search-input" type="search" placeholder="Type to filter by name"></div>
        <!-- End: Search Input (responsive) -->
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Library</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
                    <div>
                        <div>
                            <ul class="list-group" th:each="book : ${bookList}">
                                <li class="list-group-item">
                                    <div class="media"><img class="mr-3" th:src="${book.getBookCoverLink()}" onerror="this.src='assets/img/notFound.jpg'" height="150px" width="125px">
                                        <div class="media-body">
                                            <h5 th:text="${book.getBookTitle()}">Media Heading</h5>
                                            <p th:text="${' By '+book.getBookAuthor()}"></p>
                                            <p th:text="${mapGenresByBooks.get(book.getBookId())}"></p>
                                            <p th:text="${book.getBookDescription()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non vestibulum libero posuere. Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus. </p>
                                        </div>
                                    </div><!--span>List Group Item 1</span--></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2"></div>
                <div class="tab-pane" role="tabpanel" id="tab-3"></div>
                <div class="tab-pane" role="tabpanel" id="tab-4">
                    <p>Tab content.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/js/Card-slider-sk.js"></script>
    <script src="./assets/js/Media-Slider-Bootstrap-3.js"></script>
</body>

</html>